[user]
    name = Jessup Reid
    email = jessupreid@nypl.org
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current